* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}

.image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(3px);
}

.form-container form {
  display: block;
}

.form-container form button {
  position: relative;
  margin-top:20px;
}

.form-container {
    max-width: 800px;
    padding: 40px;
    box-shadow: 0 0 100px rgba(175, 125, 125, 0.25);
    border: 10px solid #d0279b;
    border-radius: 10px;
    background-color: rgb(249, 219, 252);
    text-align: left;
    position: relative;
    z-index: 1;
}

.form-container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    font-weight: bold;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid #161c21;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s ease;
}

form input:focus {
    border-color: #0056b3;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

form button {
    width: 100%;
    padding: 12px;
    background-color: #12ba48;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #69a0db;
}

p {
    margin-top: 20px;
    font-size: 14px;
}

a {
    text-decoration: underline;
    color: #2d0d95;
}

a:hover {
    color: #0056b3;
}
















